:root {
    --white: #f9f9f9;
    --black: #36383f;
    --grey: #85888c;
    --brown: #762124;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    position: fixed;
    top: 0;
    left: 15px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    z-index: 9999;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #414040;
    position: sticky;
    top: 0;
    padding: 10px; /* Add padding for the login button */
}

.logo > img {
    width: auto;
    height: 120px;
    vertical-align: middle;
}

.login-icon {
    position: absolute;
    top: 40px; /* Adjust the distance from the top */
    right: 40px; /* Adjust the distance from the right */
    display: flex;
    align-items: center;
    color: white; /* Set the icon color to white */
    font-size: 24px; /* Set the icon size (if needed) */
}

.login-icon span {
    margin-left: 5px; /* Add some space between the icon and the text */
}

.login-icon a {
    text-decoration: none; /* Remove the underline on the anchor tag */
    color: white; /* Set the icon color to white */
    display: flex; /* Use flexbox to align items inside the anchor tag */
    flex-direction: column; /* Stack the icon and text vertically */
    align-items: center; /* Center items horizontally */
}


/* If needed, you can add a hover effect to the icon */
.login-icon:hover {
    cursor: pointer;
    text-decoration: none; /* Remove the underline on the anchor tag */
    color: white; /* Set the icon color to white */
}

.login-icon a:hover,
.login-icon a:visited { /* Add :visited pseudo-class with the same color as default state */
    color: white;
}

#login {
    font-size: 25px;
    font-style: normal;
}

.navbar {
    position: fixed;
    left: 40%;
    top: 40px;
    width: 700px;
}

.navbar > ul {
    height: 120px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
    padding: 5px 10px;
}

.navbar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.navbar a:active {
    background-color: rgb(172, 172, 231);
}

.nav > li:not(:first-child) > a:hover {
    background-color: rgb(116, 149, 206);
}

.dropdown {
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    padding: 5px 10px;
}

.dropdown-content {
    display: none;
    width: 140px;
    position: absolute;
    top: 0;
    left: -10px;
    padding-top: 50px;
    background-color: brown;
    list-style: none;
    flex-direction: column;
    justify-content: space-around;
    align-self: flex-start;
}

.dropdown-content > li {
    width: 100%;
    border-bottom: 1px solid #fff;
}

.dropdown-content > li:last-of-type {
    border-bottom: none;
}

.dropdown-content a {
    display: block;
    width: 100%;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px 10px;
}

.dropdown-content a:hover{
    background-color: rgb(226, 178, 178);
}

.dropdown > a {
    position: relative;
    z-index: 1;
}

.dropdown:hover > ul {
    display: flex;
}

img {
    height: auto;
    width: 100%;
    position: relative;
}

.tag {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    white-space: nowrap; /* Prevent span from wrapping to the next line */
    font-size: 2.5rem;
}

.tag2 {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    white-space: nowrap; /* Prevent span from wrapping to the next line */
    font-size: 2.5rem;
}

@media (max-width: 1000px) {
    .tag,
    .tag2 {
        position: static;
        margin-top: 20px;
        text-align: center;
        font-size: 1.8rem;
    }
}

span {
    color: white;
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.main {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.main-title {
    width: 80%;
    color: #666666;
    font-size: 40px;
    font-weight: 600;
    margin-left: 50px; /* Add units, e.g., 50px */
    margin-right: 50px; /* Add units, e.g., 50px */
    margin-top: 100px;
    margin-bottom: 50px;
}

.main-par {
    display: flex;
    justify-content: center;
    text-align: justify; /* Correct property name */
    width: 100%;
    height: auto;
}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    background-color: rgb(168, 168, 168);
    padding: 0 10px;
    font-size: 13px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    text-align: center;
}

.social-links > a {
    color: blue;
    font-size: 30px;
}

.flw {
    font-size: 20px;
    padding: 5px;
}

.navbar-links li {
    display: inline-block;
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: var(--white);
    padding: 1rem;
}

.hamburger-menu {
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: .75rem;
    right: 1rem;
    width: 30px;
    height: 21px;
}

.hamburger-menu .bar {
    height: 3px;
    width: 100%;
    background-color: var(--white);
    border-radius: 10px;
}

@media (max-width: 1200px) {
    .navbar-links {
        display: none;
    }

    .navbar-links ul {
        display: none;
    }

    .navbar-links.active ul {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li {
        text-align: center;
    }

    .hamburger-menu {
        display: flex;
    }

    .hamb-line {
        display: block;
    }
}

/* Combine the hamb-line class definitions */
.hamburger-menu {
    position: absolute;
    top: .7rem;
    right: 1rem;
    cursor: pointer;
    padding: 10px 10px;
}

.hamb-line {
    background-color: var(--white);
    margin-top: 2px;
    display: none;
    height: 2px;
    position: relative;
    width: 30px;
}

.hamb-line::before,
.hamb-line::after {
    background-color: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before {
    top: 5px;
}

.hamb-line::after {
    top: -5px;
}

.side-menu {
    display: none;
}

.side-menu:checked ~ .navbar-links.active {
    display: flex;
}

.side-menu:checked ~ .hamb .hamb-line {
    background-color: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
}

@media (max-width: 1200px){
    .hamb-line {
        display: block;
        left: 300px;
    }

    .navbar-links {
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li {
        text-align: center;
    }
}
