body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}


h1 {
    text-align: center;
    padding: 20px;
    color: #007bff;
}

p {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

/* Container for the button */
.container {
    position: relative; /* This is necessary for positioning the button */
}

/* Button style */
a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    bottom: 10px; /* Distance from the bottom of the container */
    right: 10px; /* Distance from the right of the container */
}

a:hover {
    background-color: #0056b3;
}
